
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');
*{
    margin: auto;
    box-sizing: border-box;
    font-family: "Noto Kufi Arabic", sans-serif;
    
}


body{
    background-image: url('img/fondo2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#inicio{
    background-color:white;
    width: 35vw;
    height: 40vw;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
}
#inicio h1{
    font-weight: 900;
    font-size: 3vw;
    color: #D0A0A0;
}
#inicio h2{
    color:#DFBFB1 ;
    font-size: 2.5vw;

}
#inicio input{
    margin-top: 20px;
    width: 25vw;
    text-align: center;
    
}
#usuario,#password{
    background-color: #d7d6d6;
    border:none;
    padding: 2px;
    border-radius: 0.5rem;
}

#button{
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    margin-bottom: 5%;
    
}

#inicio p{
    font-size: 0.7em;

}




.errorPassword{
    color: red;
    font-size: 0.9em;
    display: block;
    margin-top: 3px;
}